asn1crypto==0.24.0
certifi==2018.8.24
chardet==3.0.4
cryptography==2.1.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==1.11.16
django-appconf==1.0.2
django-compressor==2.2
djangorestframework==3.8.2
drf-nested-routers==0.90.2
enum34==1.1.6
gunicorn==19.9.0
httpie==0.9.9
idna==2.7
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pbr==4.3.0
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pytz==2018.5
pyudev==0.21.0
pyxdg==0.25
rcssmin==1.0.6
requests==2.19.1
rjsmin==1.0.12
SecretStorage==2.3.1
six==1.11.0
static3==0.7.0
stevedore==1.29.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
